package $data.generatedPackage;


public class $data.generatedClassName #if( $data.superClassModel )extends $data.superClassModel.generatedFullName #end{

	#foreach( $attribute in $data.attributes )
	public static final String $attribute.staticAttributeName = "$attribute.staticAttributeName.toLowerCase()";
	#end

	public static final String[] ATTRIBUTES = {
	    #foreach( $attribute in $data.attributes )
    		$attribute.staticAttributeName #if( $velocityHasNext ), #end

    	#end
	};


}
